<h1 mat-dialog-title>发 布 新 帖</h1>
<div mat-dialog-content>
    <mat-form-field class="w100">
        <input type="text" matInput [(ngModel)]="author" placeholder="昵称" maxlength="50"/>
      </mat-form-field>
  <mat-form-field class="w100">
    <textarea matInput rows="2" [(ngModel)]="description" placeholder="描述(最多500字)" maxlength="500"></textarea>
  </mat-form-field>
  <input class="inp-file" type="file" #files mat-button (change)="fileChange()" accept=".png,.jpg,.jpeg,.gif,.bmp" />

  <div class="div-preview">
    <img #preview src="" alt="图片预览" height="250px" [hidden]="!selectedFile" required>
    <mat-error *ngIf="!selectedFile">
      <strong>给张图片</strong>
    </mat-error>
  </div>
</div>
<div class="div-actions" mat-dialog-actions>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="publish()">发 布</button>
  <button mat-button color="accent" (click)="onNoClick()">取消</button>
</div>
