<div class="div-actions">
  <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">{{order}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="newestOrder()">最新</button>
    <button mat-menu-item (click)="randomOrder()">随机</button>
  </mat-menu>
</div>
<div *ngFor="let content of list">
  {{content.content}}
</div>
<div class="div-progess-bar">
  <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
</div>
<button mat-raised-button color="primary" (click)="more()">看 更 多</button>
