<div class="div-list-page">
  <div class="div-actions">
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">{{order}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="newestOrder()">最新</button>
      <button mat-menu-item (click)="randomOrder()">随机</button>
    </mat-menu>
  </div>
  <div class="div-list">
    <div class="div-list-item" *ngFor="let content of list">
      <mat-card>
        <mat-card-header style="margin-bottom: .5rem;">
          <!-- <div mat-card-avatar class="div-list-header-image"
            style="background-image: url({{content.headerImg}});">
          </div> -->
          <img mat-card-avatar class="div-list-header-image" src="{{content.headerImg}}" alt="头像">
          <mat-card-title>{{content.author}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{content.content}}
          </p>

        </mat-card-content>
        <img class="img-content-img" mat-card-image src="{{content.file}}"
          alt="Photo of a Shiba Inu" (click)="imgClick()">

        <p>
          <span class="spn-date">
            {{content.dateTime}}
          </span>
        </p>
        <mat-card-actions>
          <button mat-raised-button color="primary">LIKE : {{content.like}}</button>
        </mat-card-actions>
      </mat-card>

      <hr>

    </div>
  </div>
  <div class="div-progess-bar">
    <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
  </div>
  <button mat-raised-button color="primary" (click)="more()">看 更 多</button>
</div>
