<div class="div-list-page">
  <div class="div-actions">
    <button mat-stroked-button color="primary" (click)="refresh()" style="margin-right: 1rem;">刷 新</button>
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">{{order}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="newestOrder()">最新</button>
      <button mat-menu-item (click)="randomOrder()">随机</button>
    </mat-menu>
  </div>
  <div class="div-list">
    <div class="div-list-item" *ngFor="let content of list">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{content.author}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{content.description}}
          </p>

        </mat-card-content>

        <img class="img-content-img" id="img_{{content.id}}" mat-card-image src="{{content.thumbnailPath}}"
          alt="Photo of a Shiba Inu" (click)="imgClick(content.id, content.sourceFilePath)">

        <p>
          <span class="spn-date">
            {{content.publishDateTime}}
          </span>
        </p>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="like(content.id)">LIKE : {{content.likes}}</button>
        </mat-card-actions>
      </mat-card>

      <hr>

    </div>
  </div>
  <div class="div-progess-bar">
    <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
  </div>
  <button mat-raised-button color="primary" (click)="more()">看 更 多</button>
</div>
