.div-actions {
  position: fixed;
  right: 20%;
  top: 5rem;
  z-index: 1;
}

.div-list-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 .2rem 1rem .2rem;
  border: 1px solid #dadada;
}

.div-list {
  height: 100%;
}

.div-list>.div-list-item {
  margin: 1rem;
}

.div-list-header-image {
  cursor: pointer;
  background-size: cover;
}

.img-content-img {
  cursor: pointer;
}

.spn-date {}
